{% extends 'staff_user/staff_layout.html' %}
{% load static %}

{% block content %}
  
  <div class="row">
    <div class="col-md-12 grid-margin stretch-card">
      <div class="card bg-facebook d-flex align-items-center">
        <div class="card-body py-5">
          <div
            class="d-flex flex-row align-items-center flex-wrap justify-content-md-center justify-content-xl-start py-1">
         
            <div class="ml-3 ml-md-0 ml-xl-3">
              <h5 class="text-white font-weight-bold">Welcome Staff Page</h5>
              <p class="mt-2 text-white card-text">You project  list  </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    
  </div>  
  {% endblock %}