{% extends 'admin/admin_layout.html' %}
{% load static %}

{% block content %}
 
  <div class="row">
     
    <div class="col-md-12 grid-margin stretch-card">
      <div class="card bg-google d-flex align-items-center">
        <div class="card-body py-5">
          <div
            class="d-flex flex-row align-items-center flex-wrap justify-content-md-center justify-content-xl-start py-1">
            <i class="mdi mdi-google-plus text-white icon-lg"></i>
            <div class="ml-3 ml-md-0 ml-xl-3">
              <h5 class="text-white font-weight-bold">Welcome Admin page</h5>
              <p class="mt-2 text-white card-text"> </p>
            </div>
          </div>
        </div>
      </div>
    </div>
     
  </div>  
  {% endblock %}