{% extends 'admin/admin_layout.html' %}
{% load static %}

{% block content %}
<div class="row">
    <div class="col-12 col-xl-6 grid-margin stretch-card">
        <div class="row w-100 flex-grow">
            <div class="col-md-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h2>Change Password</h2>
                        <div class="row mb-3">
                            <div class="col-md-5">
                                <!-- Empty div -->
                            </div>
                        </div>
                        <form method="POST" action="{% url 'updtpassword' %}">
                        {% csrf_token %}
                        <div class="form-group">
                        <label>Old Password</label>
                        
                        <input type="password" name="opassword" class="form-control">
                    </div>
                    <div class="form-group">
                        <label>New Password</label>
                        <input type="password" name="npassword"class="form-control">
                    </div>
                        <div class="form-group">
                        <label>Confirm Password</label>
                        <input type="password" name="cnpassword"class="form-control">
                    </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-success">Save</button>
                            <button type="reset" class="btn btn-danger">Cancel</button>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


  {% endblock %}