{% extends 'admin/admin_layout.html' %}
{% load static %}

{% block content %}
<div class="row">
    
    <div class="col-12 col-xl-8 grid-margin stretch-card">
        <div class="row w-100 flex-grow">
            <div class="col-md-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h2>Edit Batch</h2>
                        <div class="row mb-3">
                            <div class="col-md-5">
                                <!-- Empty div -->
                            </div>
                        </div>
                        <form method="POST" action="{% url 'update_batch' %}" >
                        {% csrf_token %}
                        
                    <div class="form-group">
                        <label>Batch</label>
                        <input type="text" name="batch" value="{{blist.batch_title}}" class="form-control" pattern="[A-Za-z]" title="Please enter single alphabet">
                        <input type="hidden" name="bid" value="{{blist.batch_id}}" class="form-control">
                    </div>
                        
                        <div class="form-group">
                            <button type="submit" class="btn btn-success">Save</button>
                            <button type="reset" class="btn btn-danger">Cancel</button>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</div>


  {% endblock %}