{% extends 'admin/admin_layout.html' %}
{% load static %}

{% block content %}
<div class="row">
    <div class="col-12 col-xl-8 grid-margin stretch-card">
        <div class="row w-100 flex-grow">
            <div class="col-md-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h2>{{stafflist.name}}</h2>
                        <div class="row mb-3">
                            <div class="col-md-5">
                                <!-- Empty div -->
                            </div>
                        </div>
                        <style>
                            table {
                                width: 100%;
                                border-collapse: collapse;
                                margin-bottom: 20px;
                            }
                            th, td {
                                padding: 12px 15px;
                                text-align: center;
                                border-bottom: 1px solid #ddd;
                            }
                            th {
                                background-color: #f2f2f2;
                                color: #333;
                            }
                            tr:hover {
                                background-color: #f5f5f5;
                            }
                            
                        </style>
                        <table>
                            <thead>
                                    <th >Technology</th>
                                    <th>Actions</th>
                                
                            </thead>
                            <tbody>
                                {% for t in techlist %}
                                <tr>
                                    <td>{{t.tech_name}}</td>
                                    <td>
                                      <a class=" btn btn-danger btn-xs" href="{% url 'delstafftech' t.tech_id stafflist.staff_id %}">Delete</a>
                                    </td>
                                    
                                    
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>

                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-12 col-xl-4 grid-margin stretch-card">
    <div class="row w-100 flex-grow">
        <div class="col-md-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h2>Add Staff Technologies</h2>
                    <div class="row mb-3">
                        <div class="col-md-5">
                            <!-- Empty div -->
                        </div>
                    </div>
                    <form method="POST" action="{% url 'addstafftech' %}">
                    {% csrf_token %}
                    <div class="form-group">
                    <label>Technology Name</label>
                    <select name="tid" class="form-control">
                        {% for t in techname %}
                        <option value="{{t.tech_id}}">{{t.tech_name}}</option>
                        {% endfor %}
                    </select>
                    <input type="hidden" name="staffid" class="form-control" value="{{stafflist.staff_id}}">
                </div>
               

                    <div class="form-group">
                        <button type="submit" class="btn btn-success">Add</button>
                        <button type="reset" class="btn btn-danger">Cancel</button>

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</div>
</div>


  {% endblock %}